<h1>Welcome to Pup Shop Boys!</h1>
<p>Where you can spend all your money on your pups!</p>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= image_tag product.image.url(:thumb), class: "img-responsive" %>
          <p>
            <a href="#">
              <span class="glyphicon glyphicon-plus"></span> quick info
            </a>
          </p>
          <p>
            <strong><%= number_to_currency product.price %></strong>
          </p>
          <h4><%= product.name %></h4>
          <p>Made by: <%= product.brand.try(:name) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
