<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="well">
      <h1>New Product</h1>

      <%= render 'form' %>

      <%= link_to 'Back', products_path %>
    </div>
  </div>
</div>